# Eqho dependencies
faster-whisper>=1.2.1
sounddevice
numpy
platformdirs
pystray
Pillow
pynput
pyperclip
customtkinter>=5.2.0

# Windows-only
keyboard ; sys_platform == "win32"
pycaw ; sys_platform == "win32"
